<div class="field">
    <label class="label">{{ label }}</label>
    <div class="control">
        <input class="input" [formControl]="control" [ngClass]="{ 'is-danger': showErrors() }" />
    </div>
    <ng-container *ngIf="showErrors()">
    
        <div class="help is-danger" *ngIf="control.errors.required">
            Value is Required
        </div>
        <div class="help is-danger" *ngIf="control.errors.minlength">
            Input too short
        </div>
        <div class="help is-danger" *ngIf="control.errors.maxlength">
            Input too long
        </div>
        <div class="help is-danger" *ngIf="control.errors.pattern">
            Invalid Format
        </div>
    
    </ng-container>
</div>